
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }

.user-name{
  font-size: 2em;
}
.above-stuff{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.right-side-of-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.link{
  font-weight: bold;
  color: blue;
}
.follow-button{
  font-size: 1em;
  font-weight: 500;
}
.ellipses{
  border: none;
}

.bottom-pics{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.three-close-lines{
  line-height: .1cm;
}

.numbers{
  font-weight: bold;
}
.profile-user-settings{
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}
.profile-stats{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-item-info{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
}

.following-line{
  font-size: .8em;
  color: grey;
}
#blackwords{
  color: black;
}
